.moves-container {
    background-color: #FFFFF2;
    width: 100%;
    height: 100%;
    max-height: 100%;

    border: 3px solid rgb(41, 41, 41);
    border-top: none;
    border-bottom: none;
    border-radius: 0 0 0 0;
    
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: rgb(41, 41, 41);
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; /* Ensures the border is inside the element */
}