.main-section {
    position: absolute;
    top: 0;
    left: 30%; /* Start after the left panel */
    width: 70%; /* Take up the remaining 70% of the screen */
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden; /* Prevent scrolling */
    background-color: rgb(241, 235, 235);
}

.board-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    position: relative;
    width: 60%; /* Adjust width to make space for player info */
}

.fen-box-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    position: relative;
}

.player-section {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 10%;
    margin-top: 20px;
    height: 8%; /* Make player section take full height */
}

.timer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    background-color: black;
    border: 2px solid darkgrey;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}