.player-info {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: start; /* Align items horizontally (adjust as needed) */
  background-color: #FFFFF2;
  border: 3px solid rgb(41, 41, 41);
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  width: 100%;
  top: 0;
  height: 20%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.player-icon {
  width: 3vw;
  height: 3vw;
  background-color: #ccc;
  background-size: cover; /* Ensures the image covers the circle */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
  border-radius: 50%; /* Makes it a circle */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: 10px;
  box-sizing: border-box;
}


.player-details {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Align details vertically */
  margin: 0;
}

.player-name {
  font-size: 1vw;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.player-bio {
  font-size: 0.7vw;
  color: #666;
  margin: 0;
}
