.board-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin: 0%;
    position: relative;
    width: 95%;
    margin: 2%;
}


.lower-section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 3%;
}

.game-panel {
    position: relative;          /* Needed for the absolutely-positioned pseudo-element */
    height: 100%;
    left: 30%; /* Start after the left panel */
    width: 70%; /* Take up the remaining 70% of the screen */
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden; /* Prevent scrolling */
  }
  
  /*background pattern*/
  .game-panel::before {
    content: "";
    position: absolute;
    inset: 0;                   /* Fills the .container */
    z-index: -1;               /* Ensures the pseudo-element stays behind the content */
  
    /* Put your pattern background here */
    --s: 82px;
    --c1: #000000;
    --c2: #c0af9b;
    --c3: #793600;
  
    --_g: var(--c3) 0 120deg, #0000 0;
    background: conic-gradient(from -60deg at 50% calc(100% / 3), var(--_g)),
      conic-gradient(from 120deg at 50% calc(200% / 3), var(--_g)),
      conic-gradient(
        from 60deg at calc(200% / 3),
        var(--c3) 60deg,
        var(--c2) 0 120deg,
        #0000 0
      ),
      conic-gradient(from 180deg at calc(100% / 3), var(--c1) 60deg, var(--_g)),
      linear-gradient(
        90deg,
        var(--c1) calc(100% / 6),
        var(--c2) 0 50%,
        var(--c1) 0 calc(500% / 6),
        var(--c2) 0
      );
    background-size: calc(1.732 * var(--s)) var(--s);
  
    /* Set your desired opacity here */
    opacity: 0.1; 
  }
  
  